@charset "UTF-8";
/* 
    원래 css 주석문
*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

mark {
  background-color: transparent;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b,
th {
  font-weight: inherit;
}

ul,
ol,
li {
  list-style: none;
}

i,
em,
address {
  font-style: inherit;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid red;
}

fieldset {
  border: none;
  /* border:0 */
  /* border: width style color */
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.blind, .footer .sns a span, .event ul.slide a span,
hr,
legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

q:before,
q:after {
  content: "";
}

@font-face {
  font-family: "SpoqaHanSansNeo-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SpoqaHanSansNeo-Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.hide {
  display: none;
}

body {
  font-family: "SpoqaHanSansNeo-Regular";
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 22px 16.66vw;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

.header h1 {
  margin-right: 1.56vw;
}

.header h1 img {
  height: 38px;
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.header nav fieldset {
  position: relative;
}

.header nav fieldset input {
  width: 20.83vw;
  padding: 13px 0 13px 22px;
  line-height: 1.25;
  border-radius: 50px;
  border: 2px solid #21bf48;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header nav fieldset input:focus-visible {
  border: 2px solid #1aa13c;
  outline: none;
}

.header nav fieldset button {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 50%;
  right: 22px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url("../images/search.png") no-repeat center center/contain;
}

.header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-size: 12px;
  color: #767676;
}

.header nav ul a {
  display: block;
}

.header nav ul li.basket a::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto 4px;
  background: url("../images/icon-shopping-cart.svg") center center/contain;
}

.header nav ul li.login {
  margin-left: 1.35vw;
}

.header nav ul li.login a::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto 4px;
  background: url("../images/icon-user.svg") center center/contain;
}

.footer {
  background-color: #f2f2f2;
  padding: 0 16.66vw;
}

.footer .topBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  border-bottom: #c4c4c4 solid 1px;
  padding-top: 30px;
}

.footer .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 30px 0;
}

.footer .list li {
  font-size: 14px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.footer .list li::after {
  content: "";
  width: 2px;
  height: 1em;
  margin: 0 0.72vw;
  background-color: #000;
  display: inline-block;
  padding-bottom: 1px;
}

.footer .list li:last-child:after {
  display: none;
}

.footer .list li:nth-child(3) {
  font-family: "SpoqaHanSansNeo-Bold";
}

.footer .sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.footer .sns a {
  display: block;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #767676;
}

.footer .sns li.instagram a {
  background: url("../images/icon-insta.svg") no-repeat center center/contain;
}

.footer .sns li.facebook {
  margin: 0 0.72vw;
}

.footer .sns li.facebook a {
  background: url("../images/icon-fb.svg") no-repeat center center/contain;
}

.footer .sns li.youtube a {
  background: url("../images/icon-yt.svg") no-repeat center center/contain;
}

.footer .information {
  text-align: left;
  padding: 30px 0 63px;
  font-size: 14px;
  color: #767676;
  line-height: 1.7;
}

.footer .information p:nth-child(1) {
  font-family: "SpoqaHanSansNeo-Bold";
}

.footer .information dl dt,
.footer .information dl dd {
  display: inline;
}

.event {
  height: 26.04vw;
  position: relative;
}

.event ul.slide {
  height: 100%;
}

.event ul.slide li {
  height: 100%;
}

.event ul.slide a {
  display: block;
  height: 100%;
  background: #f2f2f2;
}

.event div.lrBtn {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.event div.lrBtn img {
  width: 3.12vw;
}

.event div.dotBtn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.event div.dotBtn span {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 3px;
  background: #fff;
  border-radius: 50%;
}

.event div.dotBtn span.select {
  background: #000;
}

.products {
  text-align: left;
}

.products .inner {
  margin: 0 16.66vw;
}

.products ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 80px 0 102px;
}

.products ul li {
  width: calc((100% - 7.29vw) / 3);
  margin-bottom: 78px;
}

.products ul li:nth-child(3n+2) {
  margin: 0 3.645vw;
}

.products ul li div {
  background: rgba(180, 178, 178, 0.356);
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.products ul li div:after {
  content: "";
  padding-bottom: 100%;
  display: block;
}

.products ul li p {
  line-height: 1.25;
  color: #767676;
  margin: 16px 0 10px;
}

.products ul li dt {
  font-size: 1.125em;
  line-height: 1.22;
  margin-bottom: 10px;
}

.products ul li dd strong {
  font-size: 1.5em;
  line-height: 1.25;
  margin-right: 2px;
}

.login {
  text-align: center;
}

.login h1 {
  margin: 100px 0 70px;
}

.login h1 img {
  width: 238px;
}

.login section {
  position: relative;
}

.login section .loginChange {
  position: relative;
  padding: 20px 77px 30px;
  border-top: 1px solid #c4c4c4;
  border-left: 1px solid #c4c4c4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: "SpoqaHanSansNeo-Medium";
  font-size: 18px;
  background-color: #f2f2f2;
}

.login section .loginChange.sale {
  border-right: 1px solid #c4c4c4;
}

.login section .loginChange.on {
  background-color: #fff;
  z-index: 10;
}

.login section .loginForm {
  position: relative;
  bottom: 10px;
  margin: 0 auto;
  padding: 35px;
  width: 550px;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.login section .loginForm input {
  display: block;
  width: 100%;
  padding: 20px 0;
  border: none;
  border-bottom: 1px solid #f2f2f2;
}

.login section .loginForm input:last-child {
  margin-bottom: 10px;
}

.login section .loginForm p {
  margin-top: 26px;
  text-align: left;
  color: #eb5757;
}

.login section .loginForm button {
  margin-top: 26px;
  width: 100%;
  padding: 19px 0;
  background-color: #21bf48;
  color: #fff;
  border-radius: 5px;
  font-family: "SpoqaHanSansNeo-Bold";
}

.login .join {
  margin: 30px 0 18.43vw;
}

.login .join span:first-child:after {
  content: "";
  width: 2px;
  height: 1em;
  margin: -2px 0.72vw;
  background-color: #000;
  display: inline-block;
}

.product {
  padding: 80px 16.66vw 18.69vw;
  font-size: 0.93vw;
}

.product article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: top;
  -ms-flex-align: top;
  align-items: top;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.product article .imgBox {
  width: 31.25vw;
  height: 31.25vw;
  background-color: black;
}

.product article .explanation {
  width: 32.81vw;
}

.product article .explanation .productIntro .company {
  color: #767676;
  line-height: 1.22;
}

.product article .explanation .productIntro dl {
  margin: 0.88em 0 1.11em;
}

.product article .explanation .productIntro dl dt {
  font-size: 2em;
  line-height: 1.25;
  margin-bottom: 0.55em;
}

.product article .explanation .productIntro dl strong {
  font-family: "SpoqaHanSansNeo-Bold";
  font-size: 2em;
  line-height: 1.25;
  margin-right: 0.055em;
}

.product article .explanation .productIntro .delivery {
  font-size: 0.88em;
  margin: 8.625em 0 1.25em;
  color: #767676;
}

.product article .explanation .amount {
  padding: 1.66em 0;
  border-top: 2px solid #c4c4c4;
  border-bottom: 2px solid #c4c4c4;
}

.product article .explanation .amount div {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  display: inline-block;
}

.product article .explanation .amount div .symbol {
  padding: 0.83em 0.77em;
}

.product article .explanation .amount div .symbol img {
  width: 1.11em;
}

.product article .explanation .amount div .symbol:first-child {
  border-right: 1px solid #c4c4c4;
}

.product article .explanation .amount div .symbol:last-child {
  border-left: 1px solid #c4c4c4;
}

.product article .explanation .amount div .volume {
  padding: 0 1.11em;
  line-height: 1.25;
}

.product article .explanation .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin: 1.77em 0 1.22em;
}

.product article .explanation .price .maximum {
  font-family: "SpoqaHanSansNeo-Medium";
  line-height: 1.25;
}

.product article .explanation .price div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.product article .explanation .price div .maximumAmount {
  color: #767676;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.product article .explanation .price div .maximumAmount::after {
  content: "";
  width: 1px;
  height: 1.27em;
  display: inline-block;
  background-color: #c4c4c4;
  margin: 0 11px;
}

.product article .explanation .price div .maximumAmount strong {
  font-family: "SpoqaHanSansNeo-Bold";
  color: #21bf48;
  padding: 0 3px;
}

.product article .explanation .price div .maximumPrice {
  color: #21bf48;
}

.product article .explanation .price div .maximumPrice strong {
  font-family: "SpoqaHanSansNeo-Bold";
  font-size: 2em;
  line-height: 1.25;
  margin-right: 0.055em;
}

.product article .explanation .purchase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-family: "SpoqaHanSansNeo-Bold";
  color: #fff;
}

.product article .explanation .purchase button {
  padding: 1.05em 0;
  border-radius: 5px;
}

.product article .explanation .purchase .rightAway {
  width: 66%;
  background-color: #21bf48;
}

.product article .explanation .purchase .basket {
  width: 31%;
  background-color: #767676;
}

.product .btnList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  text-align: center;
  margin: 7.29vw 0 18.69vw;
}

.product .btnList li {
  width: 25%;
}

.product .btnList button {
  padding: 1.1em 0 1em;
  width: 100%;
  font-family: "SpoqaHanSansNeo-Medium";
  color: #767676;
  border-bottom: 0.33em solid #e0e0e0;
}

.product .btnList button.on {
  color: #21bf48;
  border-bottom: 0.33em solid #21bf48;
}

.register {
  text-align: center;
}

.register h1 {
  margin: 70px 0 70px;
}

.register h1 img {
  width: 238px;
}

.register section {
  position: relative;
}

.register section .changeReg {
  position: relative;
  padding: 20px 0 30px;
  width: 275px;
  border: 1px solid #c4c4c4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: "SpoqaHanSansNeo-Medium";
  font-size: 18px;
}

.register section .changeReg.buyer {
  background-color: #fff;
  border-bottom: none;
  z-index: 10;
  border-right: #fff;
}

.register section .changeReg.seller {
  background-color: #f2f2f2;
}

.register section .registerForm {
  position: relative;
  bottom: 10px;
  margin: 0 auto;
  padding: 0 35px;
  width: 477.51px;
  border: 1px solid #c4c4c4;
  background-color: #fff;
  border-radius: 10px;
  padding-bottom: 24px;
}

.register section .registerForm label {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  color: #767676;
}

.register section .registerForm label.id {
  margin-top: 50px;
}

.register section .registerForm input:focus {
  outline: none;
}

.register section .registerForm input {
  padding: 0;
  padding-left: 16px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  height: 51.5px;
  margin-bottom: 12px;
}

.register section .registerForm input:focus, .register section .registerForm input:active {
  border-color: #21bf48;
}

.register section .registerForm input#id {
  width: 327.5px;
  margin-right: 12px;
}

.register section .registerForm input#pw, .register section .registerForm input#checkPw, .register section .registerForm input#name {
  width: 461.5px;
}

.register section .registerForm input#checkPw {
  margin-bottom: 50px;
}

.register section .registerForm input#name, .register section .registerForm input#lastNumber {
  margin-bottom: 16px;
}

.register section .registerForm .inpPw {
  position: relative;
}

.register section .registerForm img {
  position: absolute;
  right: 16px;
  top: 13px;
}

.register section .registerForm button {
  color: #fff;
  background-color: #21bf48;
  width: 122px;
  height: 54px;
  font-size: 16px;
  border-radius: 5px;
}

.register section .registerForm .phoneNumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.register section .registerForm .phoneNumber input {
  width: 133.5px;
}

.register section .registerForm .phoneNumber #middleNumber {
  margin: 0 12px;
}

.register section .registerForm .phoneNumber .firstNumBtn {
  position: relative;
  width: 100%;
  color: #000;
  background-color: #fff;
  border: 1px solid #c4c4c4;
  font-size: 16px;
  padding-right: 25px;
}

.register section .registerForm .phoneNumber .firstNumBtn::after {
  content: "";
  position: absolute;
  right: 18.58px;
  top: 24.25px;
  width: 8px;
  height: 8px;
  border-radius: 1px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: solid #767676;
  border-width: 0 2.5px 2.5px 0;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

.register section .registerForm .phoneNumber #firstNumber {
  display: none;
  position: absolute;
  margin-top: 60px;
  width: 152px;
  height: 150px;
  overflow-y: scroll;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
}

.register section .registerForm .phoneNumber #firstNumber button {
  width: 100%;
  color: #000;
  background-color: #fff;
  border-radius: 0;
  height: 40px;
}

.register section .registerForm .email input {
  width: 201.5px;
}

.register section .registerForm .email span {
  margin: 0 11px;
}

.register section .registerForm .buyerNum {
  margin-top: 38px;
}

.register section .registerForm .buyerNum #bNum {
  width: 321.52px;
  margin-right: 12px;
}

.register section .registerForm #storeName {
  width: 461.5px;
}

.register section .box-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.register section .box-check .check-agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 480px;
  margin-top: 34px;
  text-align: left;
}

.register section .box-check .check-agree input[type=checkbox] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  height: 16px;
  width: 16px;
  border: 1px solid #c4c4c4;
}

.register section .box-check .check-agree input[type=checkbox]:checked {
  border: 1px solid #21bf48;
}

.register section .box-check .check-agree input[type=checkbox]:hover {
  border: 1px solid #21bf48;
}

.register section .box-check .check-agree input[type=checkbox]:after {
  content: "";
  position: relative;
  left: 40%;
  top: 20%;
  width: 15%;
  height: 40%;
  border: solid #21bf48;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  display: none;
}

.register section .box-check .check-agree input[type=checkbox]:checked:after {
  display: block;
}

.register section .box-check .check-agree #agree {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  margin-top: 1;
}

.register section .box-check .check-agree label {
  color: #767676;
}

.register section .box-check .check-agree label strong {
  font-family: "SpoqaHanSansNeo-Medium";
  text-decoration: underline;
  text-underline-position: under;
}

.register section .submitBtn {
  background-color: #c4c4c4;
  color: #fff;
  width: 480px;
  height: 60px;
  margin: 34px 0 110px;
  border-radius: 5px;
  font-size: 18px;
  font-family: "SpoqaHanSansNeo-Medium";
}

/*# sourceMappingURL=common.css.map */

/*# sourceMappingURL=common.css.map */
