@charset "UTF-8";
/* 
    원래 css 주석문
*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ul,
ol,
li,
button,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

mark {
  background-color: transparent;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b,
th {
  font-weight: inherit;
}

ul,
ol,
li {
  list-style: none;
}

i,
em,
address {
  font-style: inherit;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid red;
}

fieldset {
  border: none;
  /* border:0 */
  /* border: width style color */
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.blind, .footer .sns a span,
hr,
legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

q:before,
q:after {
  content: "";
}

@font-face {
  font-family: "SpoqaHanSansNeo-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SpoqaHanSansNeo-Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.hide {
  display: none;
}

body {
  font-family: "SpoqaHanSansNeo-Regular";
}

.header {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 0.83vw;
  padding: 1.375em 16.66vw;
  box-shadow: 0 0.25em 0.31em rgba(0, 0, 0, 0.1);
}
.header h1 {
  margin-right: 1.87em;
}
.header h1 a {
  display: block;
  margin-top: 0.25em;
}
.header h1 img {
  height: 2.375em;
  min-height: 19px;
}
.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
}
.header nav fieldset {
  position: relative;
}
.header nav fieldset input {
  font-size: inherit;
  width: 25em;
  padding: 0.81em 3em 0.81em 1.375em;
  line-height: 1.25;
  border-radius: 3.12em;
  border: 2px solid #21bf48;
}
.header nav fieldset input:focus-visible {
  border: 2px solid #1aa13c;
  outline: none;
}
.header nav fieldset input::-ms-clear, .header nav fieldset input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
.header nav fieldset input::-webkit-search-decoration, .header nav fieldset input::-webkit-search-cancel-button, .header nav fieldset input::-webkit-search-results-button, .header nav fieldset input::-webkit-search-results-decoration {
  display: none;
}
.header nav fieldset button {
  width: 1.75em;
  height: 1.75em;
  position: absolute;
  top: 50%;
  right: 1.375em;
  transform: translateY(-50%);
  background: url("../images/search.png") no-repeat center center/contain;
}
.header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  font-size: 0.75em;
  color: #767676;
}
.header nav ul a {
  display: block;
}
.header nav ul p {
  -webkit-text-size-adjust: none;
}
.header nav ul li.basket a::before {
  content: "";
  display: block;
  width: 2.66em;
  height: 2.66em;
  min-width: 15px;
  min-height: 15px;
  margin: 0 auto 0.33em;
  background: url("../images/icon-shopping-cart.svg") no-repeat center center/contain;
}
.header nav ul li.login {
  margin-left: 2.16em;
}
.header nav ul li.login a::before {
  content: "";
  display: block;
  width: 2.66em;
  height: 2.66em;
  min-width: 15px;
  min-height: 15px;
  margin: 0 auto 0.33em;
  background: url("../images/icon-user.svg") center center/contain;
}

.footer {
  background-color: #f2f2f2;
  padding: 0 16.66vw;
  font-size: 0.72vw;
}
.footer .topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom: #c4c4c4 solid 1px;
  padding-top: 30px;
}
.footer .list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 2.14em 0;
}
.footer .list li {
  line-height: 1.25;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.footer .list li::after {
  content: "";
  width: 0.14em;
  height: 1em;
  margin: 0 1em;
  background-color: #000;
  display: inline-block;
  padding-bottom: 1px;
}
.footer .list li:last-child:after {
  display: none;
}
.footer .list li:nth-child(3) {
  font-family: "SpoqaHanSansNeo-Bold";
}
.footer .sns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.footer .sns a {
  display: block;
  width: 2.28em;
  height: 2.28em;
  min-width: 14px;
  min-height: 14px;
  border-radius: 50%;
  background-color: #767676;
}
.footer .sns li.instagram a {
  background: url("../images/icon-insta.svg") no-repeat center center/contain;
}
.footer .sns li.facebook {
  margin: 0 1em;
}
.footer .sns li.facebook a {
  background: url("../images/icon-fb.svg") no-repeat center center/contain;
}
.footer .sns li.youtube a {
  background: url("../images/icon-yt.svg") no-repeat center center/contain;
}
.footer .information {
  text-align: left;
  padding: 2.14em 0 4.5em;
  color: #767676;
  line-height: 1.7;
}
.footer .information p:nth-child(1) {
  font-family: "SpoqaHanSansNeo-Bold";
}
.footer .information dl dt,
.footer .information dl dd {
  display: inline;
}

.main {
  font-size: 0.93vw;
}
.main .event {
  height: 26.04vw;
  position: relative;
}
.main .event .slideBox {
  overflow: hidden;
  height: 100%;
}
.main .event .slideBox ul.slide {
  width: 300%;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  transition: 0.5s all;
  transform: translateX(0);
}
.main .event .slideBox ul.slide.two {
  transform: translateX(-33.333%);
}
.main .event .slideBox ul.slide.three {
  transform: translateX(-66.666%);
}
.main .event .slideBox ul.slide li {
  width: 100%;
}
.main .event .slideBox ul.slide a {
  display: block;
  height: 100%;
}
.main .event div.lrBtn {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
}
.main .event div.lrBtn img {
  width: 3.12vw;
}
.main .event div.dotBtn {
  width: 3.66em;
  height: 1.66em;
  position: absolute;
  bottom: 1.11em;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 10px;
  background-color: rgba(87, 87, 87, 0.877);
  padding: 5px 10px;
}
.main .event div.dotBtn span {
  display: inline-block;
  width: 0.44em;
  height: 0.44em;
  min-width: 8px;
  min-height: 8px;
  background: #fff;
  border-radius: 50%;
}
.main .event div.dotBtn span.select {
  background: #21bf48;
}
.main .products {
  text-align: left;
}
.main .products .inner {
  margin: 0 16.66vw;
}
.main .products ul {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 4.44em 0 5.66em;
}
.main .products ul li {
  width: calc((100% - 7.29vw) / 3);
  margin-bottom: 4.33em;
}
.main .products ul li:nth-child(3n+2) {
  margin: 0 3.645vw;
}
.main .products ul li a {
  display: block;
}
.main .products ul li div {
  border-radius: 10px;
  border: 1px solid #c4c4c4;
}
.main .products ul li div:after {
  content: "";
  padding-bottom: 100%;
  display: block;
}
.main .products ul li p {
  font-size: 0.88em;
  line-height: 1.25;
  color: #767676;
  margin: 1em 0 0.625em;
}
.main .products ul li dt {
  line-height: 1.22;
  margin-bottom: 0.55em;
}
.main .products ul li dd {
  font-size: 0.88em;
}
.main .products ul li dd strong {
  font-size: 1.5em;
  line-height: 1.25;
  margin-right: 2px;
}

.login {
  text-align: center;
}
.login h1 {
  margin: 100px 0 70px;
}
.login h1 img {
  width: 238px;
}
.login section {
  position: relative;
}
.login section .loginChange {
  position: relative;
  padding: 20px 76.7px 30px;
  border-top: 1px solid #c4c4c4;
  border-left: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: "SpoqaHanSansNeo-Medium";
  font-size: 18px;
  background-color: #f2f2f2;
}
.login section .loginChange.on {
  background-color: #fff;
  z-index: 10;
}
.login section .loginChange.on.purchase {
  border-right: none;
}
.login section .loginChange.on.sale {
  border-left: none;
}
.login section .loginForm {
  position: relative;
  bottom: 10px;
  margin: 0 auto;
  padding: 35px;
  width: 550px;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  background-color: #fff;
  box-sizing: border-box;
}
.login section .loginForm input {
  display: block;
  width: 100%;
  padding: 20px 10px;
  border: none;
  border-bottom: 1px solid #f2f2f2;
}
.login section .loginForm input:last-child {
  margin-bottom: 10px;
}
.login section .loginForm p {
  margin-top: 26px;
  text-align: left;
  color: #eb5757;
}
.login section .loginForm button {
  margin-top: 26px;
  width: 100%;
  padding: 19px 0;
  background-color: #21bf48;
  color: #fff;
  border-radius: 5px;
  font-family: "SpoqaHanSansNeo-Bold";
}
.login .join {
  margin: 30px 0 18.43vw;
}
.login .join span:first-child:after {
  content: "";
  width: 2px;
  height: 1em;
  margin: -2px 0.72vw;
  background-color: #000;
  display: inline-block;
}

.product {
  padding: 80px 16.66vw 18.69vw;
  font-size: 0.93vw;
}
.product article {
  display: flex;
  justify-content: space-between;
  align-items: top;
  flex-wrap: nowrap;
}
.product article .imgBox {
  width: 31.25vw;
  height: 31.25vw;
}
.product article .explanation {
  width: 32.81vw;
}
.product article .explanation .productIntro .company {
  color: #767676;
  line-height: 1.22;
}
.product article .explanation .productIntro dl {
  margin: 0.88em 0 1.11em;
}
.product article .explanation .productIntro dl dt {
  font-size: 2em;
  line-height: 1.25;
  margin-bottom: 0.55em;
}
.product article .explanation .productIntro dl strong {
  font-family: "SpoqaHanSansNeo-Bold";
  font-size: 2em;
  line-height: 1.25;
  margin-right: 0.055em;
}
.product article .explanation .productIntro .delivery {
  font-size: 0.88em;
  margin: 8.625em 0 1.25em;
  color: #767676;
}
.product article .explanation .amount {
  padding: 1.66em 0;
  border-top: 2px solid #c4c4c4;
  border-bottom: 2px solid #c4c4c4;
}
.product article .explanation .amount div {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  display: inline-block;
}
.product article .explanation .amount div .symbol {
  padding: 0.83em 0.77em;
}
.product article .explanation .amount div .symbol img {
  width: 1.11em;
}
.product article .explanation .amount div .symbol:first-child {
  border-right: 1px solid #c4c4c4;
}
.product article .explanation .amount div .symbol:last-child {
  border-left: 1px solid #c4c4c4;
}
.product article .explanation .amount div .volume {
  padding: 0 1.11em;
  line-height: 1.25;
}
.product article .explanation .amount p {
  margin-top: 1.66em;
  color: red;
}
.product article .explanation .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 1.77em 0 1.22em;
}
.product article .explanation .price .maximum {
  font-family: "SpoqaHanSansNeo-Medium";
  line-height: 1.25;
}
.product article .explanation .price div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.product article .explanation .price div .maximumAmount {
  color: #767676;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.product article .explanation .price div .maximumAmount::after {
  content: "";
  width: 1px;
  height: 1.27em;
  display: inline-block;
  background-color: #c4c4c4;
  margin: 0 11px;
}
.product article .explanation .price div .maximumAmount strong {
  font-family: "SpoqaHanSansNeo-Bold";
  color: #21bf48;
  padding: 0 3px;
}
.product article .explanation .price div .maximumPrice {
  color: #21bf48;
}
.product article .explanation .price div .maximumPrice strong {
  font-family: "SpoqaHanSansNeo-Bold";
  font-size: 2em;
  line-height: 1.25;
  margin-right: 0.055em;
}
.product article .explanation .purchase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  font-family: "SpoqaHanSansNeo-Bold";
  color: #fff;
}
.product article .explanation .purchase a {
  padding: 1.05em 0;
  border-radius: 5px;
  display: block;
  text-align: center;
}
.product article .explanation .purchase .rightAway {
  width: 66%;
  background-color: #21bf48;
}
.product article .explanation .purchase .basket {
  width: 31%;
  background-color: #767676;
}
.product .btnList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
  margin: 7.29vw 0 18.69vw;
}
.product .btnList li {
  width: 25%;
}
.product .btnList button {
  padding: 1.1em 0 1em;
  width: 100%;
  font-family: "SpoqaHanSansNeo-Medium";
  color: #767676;
  border-bottom: 0.33em solid #e0e0e0;
}
.product .btnList button.on {
  color: #21bf48;
  border-bottom: 0.33em solid #21bf48;
}

.cart {
  font-size: 0.93vw;
  text-align: center;
  padding: 0 16.66vw;
}
.cart h2 {
  margin: 3em 0 2.88em;
  font-size: 2em;
  font-family: "SpoqaHanSansNeo-Bold";
}
.cart .contProduct .tableHead {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 1em 0;
}
.cart .contProduct .tableHead li {
  flex-basis: 25%;
}
.cart .contProduct .tableHead li span {
  width: 1.11em;
  height: 1.11em;
  display: block;
  border-radius: 50%;
  border: 2px solid #21bf48;
  margin: 0 auto;
}
.cart .contProduct .tableHead li:nth-child(1) {
  flex-basis: 10%;
}
.cart .contProduct .tableHead li:nth-child(2) {
  flex-basis: 40%;
}
.cart .contProduct .tableBody .noneProduct {
  margin: 11.11em 0 24.55em;
}
.cart .contProduct .tableBody .noneProduct p {
  font-size: 0.77em;
  color: #767676;
}
.cart .contProduct .tableBody .noneProduct strong {
  display: block;
  font-family: "SpoqaHanSansNeo-Bold";
  font-size: 0.93vw;
  margin-bottom: 1em;
  color: black;
}
.cart .contProduct .tableBody .showProduct ul {
  margin: 1.94em 0 4.45em;
}
.cart .contProduct .tableBody .showProduct li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  border: 1.5px solid #e0e0e0;
  position: relative;
  border-radius: 10px;
  margin-bottom: 0.55em;
}
.cart .contProduct .tableBody .showProduct li label {
  flex-basis: 10%;
}
.cart .contProduct .tableBody .showProduct li label div {
  width: 1.11em;
  height: 1.11em;
  border-radius: 50%;
  border: 2px solid #21bf48;
  margin: 0 auto;
  padding: 0.1em;
  position: relative;
}
.cart .contProduct .tableBody .showProduct li label input:checked + div > span {
  background-color: #21bf48;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}
.cart .contProduct .tableBody .showProduct li .introduce {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.cart .contProduct .tableBody .showProduct li .introduce img {
  width: 8.88em;
  height: 8.88em;
  max-width: 160px;
  max-height: 160px;
  border-radius: 10px;
  margin: 1.11em 0;
}
.cart .contProduct .tableBody .showProduct li .introduce .introduceText {
  text-align: left;
  margin-left: 2em;
}
.cart .contProduct .tableBody .showProduct li .introduce .introduceText .company {
  font-size: 0.77em;
  color: #767676;
}
.cart .contProduct .tableBody .showProduct li .introduce .introduceText dl {
  margin: 0.55em 0 2.22em;
}
.cart .contProduct .tableBody .showProduct li .introduce .introduceText dl dt {
  margin-bottom: 0.55em;
}
.cart .contProduct .tableBody .showProduct li .introduce .introduceText dl dd {
  font-size: 0.88em;
  font-family: "SpoqaHanSansNeo-Bold";
}
.cart .contProduct .tableBody .showProduct li .introduce .introduceText .delivery {
  font-size: 0.77em;
  color: #767676;
}
.cart .contProduct .tableBody .showProduct li .quantity {
  flex-basis: 25%;
}
.cart .contProduct .tableBody .showProduct li .quantity div {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  display: inline-block;
}
.cart .contProduct .tableBody .showProduct li .quantity div .symbol {
  padding: 0.83em 0.77em;
}
.cart .contProduct .tableBody .showProduct li .quantity div .symbol img {
  width: 1.11em;
}
.cart .contProduct .tableBody .showProduct li .quantity div .symbol:first-child {
  border-right: 1px solid #c4c4c4;
}
.cart .contProduct .tableBody .showProduct li .quantity div .symbol:last-child {
  border-left: 1px solid #c4c4c4;
}
.cart .contProduct .tableBody .showProduct li .quantity div .volume {
  padding: 0 1.11em;
  line-height: 1.25;
}
.cart .contProduct .tableBody .showProduct li .orderPrice {
  flex-basis: 25%;
}
.cart .contProduct .tableBody .showProduct li .orderPrice p {
  color: #eb5757;
  font-family: "SpoqaHanSansNeo-Bold";
  margin-bottom: 1.44em;
}
.cart .contProduct .tableBody .showProduct li .orderPrice .orderBtn {
  font-size: 0.88em;
  font-family: "SpoqaHanSansNeo-Medium";
  border-radius: 5px;
  padding: 0.625em 2.225em;
  background-color: #21bf48;
  color: #fff;
}
.cart .contProduct .tableBody .showProduct li .cancel {
  position: absolute;
  top: 1em;
  right: 1em;
}
.cart .contProduct .tableBody .showProduct li .cancel img {
  width: 1.22em;
  margin-bottom: 1.44em;
}
.cart .contProduct .tableBody .showProduct .confirm {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 2.55em 5.05em 2.55em 6.22em;
  margin-bottom: 2.22em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.cart .contProduct .tableBody .showProduct .confirm dl {
  font-size: 0.88em;
}
.cart .contProduct .tableBody .showProduct .confirm dl dt {
  margin-bottom: 0.75em;
}
.cart .contProduct .tableBody .showProduct .confirm dl strong {
  font-family: "SpoqaHanSansNeo-Bold";
  font-size: 1.5em;
  margin-right: 0.125em;
}
.cart .contProduct .tableBody .showProduct .confirm dl.payment dt {
  font-family: "SpoqaHanSansNeo-Bold";
}
.cart .contProduct .tableBody .showProduct .confirm dl.payment dd {
  color: #eb5757;
}
.cart .contProduct .tableBody .showProduct .confirm dl.payment dd strong {
  font-size: 2.25em;
}
.cart .contProduct .tableBody .showProduct .confirm .calculate {
  background-color: #fff;
  width: 1.88em;
  height: 1.88em;
  border-radius: 50%;
  background-position: center;
  background-size: 1em;
  background-repeat: no-repeat;
}
.cart .contProduct .tableBody .showProduct .confirm .calculate.plus {
  background-image: url(../images/icon-plus-line.svg);
}
.cart .contProduct .tableBody .showProduct .confirm .calculate.minus {
  background-image: url(../images/icon-minus-line.svg);
}
.cart .contProduct .tableBody .showProduct .submit {
  font-size: 1.33em;
  font-family: "SpoqaHanSansNeo-Bold";
  border-radius: 5px;
  padding: 1.05em 3.66em;
  background-color: #21bf48;
  color: #fff;
  margin-bottom: 8.88em;
}

.payment {
  font-size: 0.93vw;
  padding: 0 16.66vw;
}
.payment h2 {
  margin: 3em 0 2.88em;
  font-size: 2em;
  font-family: "SpoqaHanSansNeo-Bold";
}
.payment .tableHead {
  text-align: center;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 1em 0;
}
.payment .tableHead li {
  flex-basis: 18%;
}
.payment .tableHead li span {
  width: 1.11em;
  height: 1.11em;
  display: block;
  border-radius: 50%;
  border: 2px solid #21bf48;
  margin: 0 auto;
}
.payment .tableHead li:nth-child(1) {
  flex-basis: 46%;
}
.payment .productList {
  text-align: center;
}
.payment .productList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom: 1px solid #c4c4c4;
}
.payment .productList .introduce {
  flex-basis: 46%;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.payment .productList .introduce img {
  width: 5.77em;
  height: 5.77em;
  border-radius: 10px;
  margin: 1.33em 0 0.94em;
  background-color: floralwhite;
  outline: 1px solid red;
}
.payment .productList .introduce .introduceText {
  margin-left: 2em;
}
.payment .productList .introduce .introduceText .company {
  font-size: 0.77em;
  color: #767676;
}
.payment .productList .introduce .introduceText dt {
  margin: 0.33em 0 0.55em;
}
.payment .productList .introduce .introduceText dd {
  font-size: 0.77em;
  color: #767676;
}
.payment .productList .sale {
  flex-basis: 18%;
}
.payment .productList .delivery {
  flex-basis: 18%;
  color: #767676;
}
.payment .productList .price {
  flex-basis: 18%;
  font-family: "SpoqaHanSansNeo-Bold";
}
.payment .total {
  text-align: right;
  margin: 1.66em 0 5.33em;
  font-family: "SpoqaHanSansNeo-Medium";
}
.payment .total span {
  color: red;
  font-size: 1.33em;
  margin-left: 0.41em;
}
.payment .deliveryPayment .deliveryInform h4 {
  font-size: 1.33em;
  font-family: "SpoqaHanSansNeo-Medium";
  padding-bottom: 0.75em;
  border-bottom: 2px solid #c4c4c4;
}
.payment .deliveryPayment .deliveryInform h5 {
  font-family: "SpoqaHanSansNeo-Medium";
  padding: 2.22em 0 0.44em;
  border-bottom: 2px solid #c4c4c4;
}
.payment .deliveryPayment .deliveryInform li {
  padding: 0.44em 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom: 1px solid #c4c4c4;
}
.payment .deliveryPayment .deliveryInform li span {
  font-size: 0.88em;
  flex-basis: 9.44em;
}
.payment .deliveryPayment .deliveryInform li label {
  width: 18.55em;
}
.payment .deliveryPayment .deliveryInform li input {
  border: 1px solid #c4c4c4;
  width: 100%;
  box-sizing: border-box;
  font-size: 0.88em;
  padding: 0.625em 0.5em;
}
.payment .deliveryPayment .deliveryInform li .phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 18.55em;
}
.payment .deliveryPayment .deliveryInform li .phone label {
  display: block;
  width: calc((100% - 3em) / 3);
  position: relative;
}
.payment .deliveryPayment .deliveryInform li .phone label input {
  display: block;
  font-size: 0.88em;
  padding: 0.625em 0.5em;
}
.payment .deliveryPayment .deliveryInform li .phone label:after {
  position: absolute;
  content: "";
  width: 0.38em;
  height: 1px;
  background-color: #000;
  top: 50%;
  right: -0.93em;
  transform: translateY(-50%);
}
.payment .deliveryPayment .deliveryInform li .phone label:last-child:after {
  display: none;
}
.payment .deliveryPayment .deliveryInform li.address {
  display: block;
}
.payment .deliveryPayment .deliveryInform li.address .addressBtn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.payment .deliveryPayment .deliveryInform li.address .addressBtn div {
  width: 18.55em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.payment .deliveryPayment .deliveryInform li.address .addressBtn input {
  font-size: 0.88em;
  padding: 0.625em 0.5em;
}
.payment .deliveryPayment .deliveryInform li.address .addressBtn button {
  font-size: 0.88em;
  color: #fff;
  font-family: "SpoqaHanSansNeo-Medium";
  padding: 0.625em 1.125em;
  background-color: #21bf48;
  margin-left: 0.625em;
  white-space: nowrap;
}
.payment .deliveryPayment .deliveryInform li.address .detailAddress {
  margin-left: 8.3em;
}
.payment .deliveryPayment .deliveryInform li.address .detailAddress input {
  margin-top: 0.44em;
  width: 44.44em;
  font-size: 0.88em;
  padding: 0.625em 0.5em;
}
.payment .deliveryPayment .deliveryInform li.deliveryMessage input {
  width: 44.44em;
  font-size: 0.88em;
  padding: 0.625em 0.5em;
}
.payment .deliveryPayment .paymentInform {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  margin: 3.88em 0 19.88em;
}
.payment .deliveryPayment .paymentInform h5 {
  font-family: "SpoqaHanSansNeo-Medium";
  font-size: 1.33em;
  padding-bottom: 0.75em;
}
.payment .deliveryPayment .paymentInform .method {
  flex-grow: 1;
}
.payment .deliveryPayment .paymentInform .method h5 {
  border-bottom: 2px solid #c4c4c4;
}
.payment .deliveryPayment .paymentInform .method div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding: 1em 0;
  border-bottom: 2px solid #c4c4c4;
}
.payment .deliveryPayment .paymentInform .method div input {
  margin: 0 0.55em 0 1.11em;
}
.payment .deliveryPayment .paymentInform .method div input:first-child {
  margin: 0 0.55em 0 0.51em;
}
.payment .deliveryPayment .paymentInform .method div label {
  font-size: 0.88em;
}
.payment .deliveryPayment .paymentInform .method input {
  margin: 0;
}
.payment .deliveryPayment .paymentInform .final {
  margin-left: 2.22em;
}
.payment .deliveryPayment .paymentInform .final .borderGreen {
  border: 2px solid #21bf48;
  border-radius: 10px;
  overflow: hidden;
}
.payment .deliveryPayment .paymentInform .final .inform {
  padding: 1.88em 1.66em;
}
.payment .deliveryPayment .paymentInform .final .inform .paymentList {
  font-size: 0.88em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 0.25em;
  border-bottom: 1px solid #c4c4c4;
}
.payment .deliveryPayment .paymentInform .final .inform .paymentList dt {
  flex-basis: 50%;
  margin-bottom: 0.93em;
}
.payment .deliveryPayment .paymentInform .final .inform .paymentList dt::before {
  content: "- ";
}
.payment .deliveryPayment .paymentInform .final .inform .paymentList dd {
  text-align: right;
  flex-basis: 50%;
}
.payment .deliveryPayment .paymentInform .final .inform .paymentList dd strong {
  font-family: "SpoqaHanSansNeo-Bold";
  font-size: 1.125em;
  padding-right: 0.22em;
}
.payment .deliveryPayment .paymentInform .final .inform .finalPay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 0.88em;
  margin: 1.5em 0 1.25em;
}
.payment .deliveryPayment .paymentInform .final .inform .finalPay dt {
  padding-left: 0.7em;
}
.payment .deliveryPayment .paymentInform .final .inform .finalPay dd {
  color: #eb5757;
  font-family: "SpoqaHanSansNeo-Bold";
  font-size: 1.5em;
}
.payment .deliveryPayment .paymentInform .final .check {
  background-color: #f2f2f2;
  padding: 1.88em 1.66em;
}
.payment .deliveryPayment .paymentInform .final .check label {
  font-size: 0.88em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.payment .deliveryPayment .paymentInform .final .check label input {
  margin-right: 0.4em;
}
.payment .deliveryPayment .paymentInform .final .check button {
  font-size: 1.33em;
  font-family: "SpoqaHanSansNeo-Bold";
  color: #fff;
  background-color: #c4c4c4;
  border-radius: 5px;
  padding: 1.05em 3.66em;
  display: block;
  margin: 0 auto 0.16em;
}

.register {
  text-align: center;
}
.register h1 {
  margin: 70px 0 70px;
}
.register h1 img {
  width: 238px;
}
.register section {
  position: relative;
}
.register section .changeReg {
  position: relative;
  padding: 20px 0 30px;
  width: 275px;
  border: 1px solid #c4c4c4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: "SpoqaHanSansNeo-Medium";
  font-size: 18px;
}
.register section .changeReg.buyer {
  background-color: #f2f2f2;
}
.register section .changeReg.buyer.on {
  background-color: #fff;
  border-bottom: none;
  z-index: 10;
  border-right: #fff;
}
.register section .changeReg.seller {
  background-color: #f2f2f2;
}
.register section .changeReg.seller.on {
  background-color: #fff;
  border-bottom: none;
  z-index: 10;
  border-left: #fff;
}
.register section .registerForm {
  position: relative;
  bottom: 10px;
  margin: 0 auto;
  padding: 0 35px;
  width: 477px;
  border: 1px solid #c4c4c4;
  background-color: #fff;
  border-radius: 10px;
  padding-bottom: 24px;
}
.register section .registerForm label {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  color: #767676;
}
.register section .registerForm label.id {
  margin-top: 50px;
}
.register section .registerForm label.nameLabel {
  margin-top: 50px;
}
.register section .registerForm input:focus {
  outline: none;
}
.register section .registerForm input {
  padding: 0;
  padding-left: 16px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  height: 51.5px;
  margin-bottom: 12px;
}
.register section .registerForm input:focus, .register section .registerForm input:active {
  border-color: #21bf48;
}
.register section .registerForm input#id {
  width: 327.5px;
  margin-right: 12px;
}
.register section .registerForm input#pw, .register section .registerForm input#checkPw, .register section .registerForm input#name {
  width: 461.5px;
}
.register section .registerForm input#name, .register section .registerForm input#lastNumber {
  margin-bottom: 16px;
}
.register section .registerForm .inpPw {
  position: relative;
}
.register section .registerForm .inpPw .pwWrong {
  text-align: start;
  color: #eb5757;
  margin-bottom: 14px;
}
.register section .registerForm .inpPw .pwWrong c input {
  border-color: red;
}
.register section .registerForm img {
  position: absolute;
  right: 16px;
  top: 13px;
}
.register section .registerForm button {
  color: #fff;
  background-color: #21bf48;
  width: 122px;
  height: 54px;
  font-size: 16px;
  border-radius: 5px;
}
.register section .registerForm .phoneNumber {
  display: flex;
}
.register section .registerForm .phoneNumber input {
  text-align: center;
  padding: 0 8px;
  width: 133.5px;
}
.register section .registerForm .phoneNumber #middleNumber {
  margin: 0 12px;
}
.register section .registerForm .phoneNumber .firstNumBtn {
  position: relative;
  width: 100%;
  color: #000;
  background-color: #fff;
  border: 1px solid #c4c4c4;
  font-size: 16px;
  padding-right: 25px;
}
.register section .registerForm .phoneNumber .firstNumBtn::after {
  content: "";
  position: absolute;
  right: 18.58px;
  top: 24.25px;
  width: 8px;
  height: 8px;
  border-radius: 1px;
  transition: all 0.5s;
  border: solid #767676;
  border-width: 0 2.5px 2.5px 0;
  transform: rotate(225deg);
}
.register section .registerForm .phoneNumber .firstNumBtn.on::after {
  transform: rotate(45deg);
}
.register section .registerForm .phoneNumber #firstNumber {
  position: absolute;
  margin-top: 60px;
  width: 152px;
  height: 150px;
  overflow-y: scroll;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
}
.register section .registerForm .phoneNumber #firstNumber button {
  width: 100%;
  color: #000;
  background-color: #fff;
  border-radius: 0;
  height: 40px;
}
.register section .registerForm .numWrong {
  text-align: start;
  color: #eb5757;
  margin-bottom: 14px;
}
.register section .registerForm .email input {
  width: 201.5px;
}
.register section .registerForm .email span {
  margin: 0 11px;
}
.register section .registerForm .buyerNum {
  margin-top: 38px;
}
.register section .registerForm .buyerNum #bNum {
  width: 321.52px;
  margin-right: 12px;
}
.register section .registerForm #storeName {
  width: 461.5px;
}
.register section .box-check {
  display: flex;
  justify-content: center;
}
.register section .box-check .check-agree {
  display: flex;
  width: 480px;
  margin-top: 34px;
  text-align: left;
}
.register section .box-check .check-agree input[type=checkbox] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  height: 16px;
  width: 16px;
  border: 1px solid #c4c4c4;
}
.register section .box-check .check-agree input[type=checkbox]:checked {
  border: 1px solid #21bf48;
}
.register section .box-check .check-agree input[type=checkbox]:hover {
  border: 1px solid #21bf48;
}
.register section .box-check .check-agree input[type=checkbox]:after {
  content: "";
  position: relative;
  left: 40%;
  top: 20%;
  width: 15%;
  height: 40%;
  border: solid #21bf48;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}
.register section .box-check .check-agree input[type=checkbox]:checked:after {
  display: block;
}
.register section .box-check .check-agree #agree {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  margin-top: 1;
}
.register section .box-check .check-agree label {
  color: #767676;
}
.register section .box-check .check-agree label strong {
  font-family: "SpoqaHanSansNeo-Medium";
  text-decoration: underline;
  text-underline-position: under;
}
.register section .submitBtn {
  background-color: #21bf48;
  color: #fff;
  width: 480px;
  height: 60px;
  margin: 34px 0 110px;
  border-radius: 5px;
  font-size: 18px;
  font-family: "SpoqaHanSansNeo-Medium";
}
.register section .submitBtn:disabled {
  background-color: #c4c4c4;
}

.dashHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  font-family: "SpoqaHanSansNeo-Medium";
  padding: 26px 100px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  font-size: 30px;
}
.dashHeader h1 {
  margin-right: 16px;
}
.dashHeader h1 img {
  height: 24px;
}

.dashBoard {
  position: relative;
  padding: 0 5.2083vw;
}
.dashBoard h2 {
  font-family: "SpoqaHanSansNeo-Bold";
  font-size: 1.875vw;
  margin-top: 2.2917vw;
  margin-bottom: 2.1875vw;
}
.dashBoard strong {
  font-family: "SpoqaHanSansNeo-Medium";
  color: #21bf48;
  margin-left: 0.8333vw;
}
.dashBoard .uploadBtn {
  position: absolute;
  top: 0;
  right: 5.2083vw;
  font-size: 0.9375vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #21bf48;
  width: 8.75vw;
  height: 2.7083vw;
  border-radius: 5px;
}
.dashBoard .uploadBtn::before {
  content: "";
  display: inline-block;
  background-image: url(../images/icon-plus.svg);
  background-size: contain;
  width: 1.5625vw;
  height: 1.5625vw;
  margin-right: 0.4688vw;
}
.dashBoard .wrap {
  display: flex;
}
.dashBoard .menu {
  margin-right: 1.5625vw;
}
.dashBoard .menu li {
  display: flex;
  align-items: center;
  padding-left: 1.0417vw;
  font-size: 0.8333vw;
  position: relative;
  border-radius: 5px;
  width: 11.9792vw;
  height: 2.6042vw;
  margin-bottom: 0.5208vw;
}
.dashBoard .menu li:first-child {
  color: #fff;
  background-color: #21bf48;
}
.dashBoard .menu li:hover {
  background-color: #effff3;
}
.dashBoard .menu li span {
  position: absolute;
  right: 0.7813vw;
  display: inline-block;
  background-color: #eb5757;
  color: #fff;
  font-size: 0.625vw;
  border-radius: 90px;
  text-align: center;
  padding: 0.1042vw 0.3125vw;
}
.dashBoard article {
  width: 100%;
  background-color: #f2f2f2;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}
.dashBoard article .productInfo {
  display: flex;
}
.dashBoard article .productInfo li {
  font-size: 0.9375vw;
  text-align: center;
  padding: 18px 0;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.dashBoard article .productInfo li:nth-child(1) {
  flex: 5 1 0;
}
.dashBoard article .productInfo li:nth-child(2) {
  flex: 3 1 0;
}
.dashBoard article .productInfo li:nth-child(3) {
  flex: 1 1 0;
}
.dashBoard article .productInfo li:nth-child(4) {
  flex: 1 1 0;
}
.dashBoard article .products li {
  display: flex;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  background-color: #fff;
}
.dashBoard article .products li div {
  flex: 5 1 0;
}
.dashBoard article .products li div img {
  border: 1px solid black;
  border-radius: 100px;
  float: left;
  width: 3.6458vw;
  margin: 16px 30px;
}
.dashBoard article .products li div p:nth-child(2) {
  font-size: 0.9375vw;
  margin-top: 1.3542vw;
}
.dashBoard article .products li div p:nth-child(3) {
  font-size: 0.8333vw;
  color: #767676;
  margin: 0.5208vw 0 1.3542vw;
}
.dashBoard article .products li .price,
.dashBoard article .products li .box-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.dashBoard article .products li .price {
  font-size: 0.9375vw;
  flex: 3 1 0;
}
.dashBoard article .products li button {
  font-size: 0.8333vw;
  width: 4.1667vw;
  height: 2.0833vw;
  border-radius: 5px;
  padding: 0;
}
.dashBoard article .products li .box-update,
.dashBoard article .products li .box-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex: 1 1 0;
}
.dashBoard article .products li .box-update button {
  background-color: #21bf48;
  color: #fff;
}
.dashBoard article .products li .box-delete button {
  background-color: #fff;
  color: #767676;
  border: solid 1px #c4c4c4;
}
.dashBoard article .products li .box-delete button:hover {
  color: #000;
  border-color: #767676;
}

.addProduct {
  display: flex;
  padding: 2.2917vw 5.2083vw 7.0833vw;
}
.addProduct h2 {
  position: absolute;
  font-size: 1.875vw;
  font-family: "SpoqaHanSansNeo-Bold";
}
.addProduct .precautions {
  margin-top: 6.7708vw;
  margin-right: 4.1667vw;
}
.addProduct .precautions h3 {
  color: #eb5757;
  font-size: 0.8333vw;
  margin-bottom: 0.5208vw;
}
.addProduct .precautions div {
  width: 14.5833vw;
  padding: 1.0417vw;
  background-color: #ffefe8;
  border-radius: 5px;
  font-size: 0.7292vw;
  line-height: 0.9375vw;
}
.addProduct .product {
  margin-top: 6.7708vw;
  padding: 0;
  width: 100%;
}
.addProduct .product .productForm input {
  height: 2.8125vw;
  border-radius: 5px;
  padding: 0 0.8333vw;
  border: 1px solid #c4c4c4;
  margin-bottom: 0.8333vw;
  font-size: 0.8333vw;
}
.addProduct .product .productForm input::placeholder {
  color: #767676;
  font-size: 0.7292vw;
  text-align: end;
}
.addProduct .product .productForm input:focus {
  outline: none;
}
.addProduct .product .productForm .priceBox {
  display: flex;
}
.addProduct .product .productForm .priceBox #stock,
.addProduct .product .productForm .priceBox #productPrice,
.addProduct .product .productForm .priceBox #deliveryCharge {
  width: 8.6458vw;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.addProduct .product .productForm .priceBox span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 2.8125vw;
  height: 2.8125vw;
  border: 1px solid #c4c4c4;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #c4c4c4;
  color: #fff;
  font-size: 0.8333vw;
}
.addProduct .product .productForm .mainInfo {
  display: flex;
}
.addProduct .product .productForm label,
.addProduct .product .productForm .delivery {
  font-size: 0.8333vw;
  color: #767676;
  margin-bottom: 0.5208vw;
}
.addProduct .product .productForm .deliveryBox button {
  width: 11.4583vw;
  height: 2.8125vw;
  border-radius: 5px;
  margin-top: 0.5208vw;
}
.addProduct .product .productForm .deliveryBox button:nth-child(1) {
  color: #fff;
  background-color: #21bf48;
  margin-right: 0.5208vw;
}
.addProduct .product .productForm .deliveryBox button:nth-child(2) {
  border: 1px solid #c4c4c4;
}
.addProduct .product .productForm .productImg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 23.6458vw;
  height: 23.6458vw;
  margin-top: 0.5208vw;
  margin-right: 2.0833vw;
  background-color: #c4c4c4;
}
.addProduct .product .productForm .productImg img {
  width: 2.6042vw;
}
.addProduct .product .productForm #productImg {
  display: none;
}
.addProduct .product .productForm .inpInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.addProduct .product .detailInfo label,
.addProduct .product .detailInfo input {
  display: block;
}
.addProduct .product .detailInfo input {
  width: 100%;
  height: 36vw;
  padding: 0;
  color: #c4c4c4;
  background-color: #f2f2f2;
  font-size: 2vw;
  text-align: center;
}
.addProduct .product .detailInfo .inpBtn {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 1.7709vw;
}
.addProduct .product .detailInfo .inpBtn button {
  width: 10.4167vw;
  height: 3.125vw;
  border-radius: 5px;
}
.addProduct .product .detailInfo .inpBtn button:nth-child(1) {
  border: 1px solid #c4c4c4;
  margin-right: 0.5208vw;
}
.addProduct .product .detailInfo .inpBtn button:nth-child(2) {
  color: #fff;
  background-color: #21bf48;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 100vh;
}
.error h1 {
  margin-right: 2.6042vw;
}
.error h1 img {
  width: 14.375vw;
  height: 12.2917vw;
}
.error .introduce .strong {
  font-family: "SpoqaHanSansNeo-Bold";
  font-size: 1.875vw;
  margin-bottom: 1.0417vw;
}
.error .introduce .small {
  font-size: 0.8333vw;
  color: #767676;
}
.error .introduce .button {
  display: flex;
  margin-top: 2.0833vw;
}
.error .introduce .button a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 0.9375vw;
  width: 10.4167vw;
  height: 3.125vw;
  border-radius: 5px;
}
.error .introduce .button a:nth-child(1) {
  color: #fff;
  background-color: #21bf48;
  margin-right: 0.5208vw;
}
.error .introduce .button a:nth-child(2) {
  border: 1px solid #c4c4c4;
  color: #767676;
}

/*# sourceMappingURL=common.css.map */