@charset "utf-8";

.footer {
  background-color: nth($gray, 3);
  padding: 0 $lrcont;
  font-size: 0.72vw;
  .topBar {
    @include flex($a: center);
    border-bottom: nth($gray, 2) solid 1px;
    padding-top: 30px;
  }
  .list {
    @include flex($a: center);
    padding: 2.14em 0;
    li {
      line-height: 1.25;
      @include flex($a: center);
      &::after {
        content: "";
        width: 0.14em;
        height: 1em;
        margin: 0 1em;
        background-color: #000;
        display: inline-block;
        padding-bottom: 1px;
      }
      &:last-child:after {
        display: none;
      }
      &:nth-child(3) {
        font-family: $f7;
      }
    }
  }

  .sns {
    @include flex($a: center);

    a {
      display: block;
      width: 2.28em;
      height: 2.28em;
      min-width: 14px;
      min-height: 14px;
      border-radius: 50%;
      background-color: nth($gray, 1);
      span {
        @extend .blind;
      }
    }
    li {
      &.instagram {
        a {
          background: url($imgUrl + "icon-insta.svg") no-repeat center
            center/contain;
        }
      }
      &.facebook {
        margin: 0 1em;
        a {
          background: url($imgUrl + "icon-fb.svg") no-repeat center
            center/contain;
        }
      }
      &.youtube {
        a {
          background: url($imgUrl + "icon-yt.svg") no-repeat center
            center/contain;
        }
      }
    }
  }

  .information {
    text-align: left;
    padding: 2.14em 0 4.5em;
    color: nth($gray, 1);
    line-height: 1.7;
    p:nth-child(1) {
      font-family: $f7;
    }
    dl {
      dt,
      dd {
        display: inline;
      }
    }
  }
}
