@charset "utf-8";
.main {
  font-size: 0.93vw;
  .event {
    //500
    height: 26.04vw;
    position: relative;
    z-index: -1;
    ul.slide {
      width: 100%;
      height: 100%;
      @include flex();
      // transform: translateX(-100%);
      li {
        flex-basis: 100%;
        background-color: green;
        &:nth-child(2) {
          background-color: red;
        }
      }
      a {
        display: block;
        height: 100%;
        // @include ir(nth($gray, 3));
      }
    }
    div.lrBtn {
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      @include flex;
      img {
        width: 3.12vw;
      }
    }
    div.dotBtn {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      span {
        display: inline-block;
        width: 6px;
        height: 6px;
        margin: 0 3px;
        background: #fff;
        border-radius: 50%;
      }
      span.select {
        background: #000;
      }
    }
  }

  .products {
    text-align: left;
    .inner {
      margin: 0 $lrcont;
    }
    ul {
      @include flex($w: wrap, $j: flex-start);
      margin: 4.44em 0 5.66em;
      li {
        width: calc((100% - 7.29vw) / 3);
        margin-bottom: 4.33em;
        &:nth-child(3n + 2) {
          margin: 0 3.645vw;
        }

        div {
          border-radius: 10px;
          border: 1px solid nth($gray, 2);
          &:after {
            content: "";
            padding-bottom: 100%;
            display: block;
          }
        }
        p {
          font-size: 0.88em;
          line-height: 1.25;
          color: nth($gray, 1);
          margin: 1em 0 0.625em;
        }
        dt {
          line-height: 1.22;
          margin-bottom: 0.55em;
        }
        dd {
          font-size: 0.88em;
          strong {
            font-size: 1.5em;
            line-height: 1.25;
            margin-right: 2px;
          }
        }
      }
    }
  }
}
