.dimm {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.356);
  z-index: 99;
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.83vw;
    width: 20em;
    background-color: white;
    padding: 3.75em 0 2.5em;
    p {
      margin-bottom: 2.5em;
    }
    .modalBtn {
      width: 6.25em;
      border: 1px solid #c4c4c4;
      padding: 0.625em 0;
      white-space: nowrap;
      border-radius: 5px;
      box-sizing: border-box;
      &.modalX {
        margin-right: 0.31em;
      }
      &.modalO {
        margin-left: 0.31em;
        background-color: $green;
        color: white;
        border: none;
      }
    }
    .modalCancel {
      position: absolute;
      top: 1em;
      right: 1em;
      img {
        width: 1.22em;
        margin-bottom: 1.44em;
      }
    }
  }
  .quantity {
    margin-bottom: 1.625em;
    div {
      border: 1px solid nth($gray, 2);
      border-radius: 5px;
      display: inline-block;
      .symbol {
        padding: 0.83em 0.77em;
        img {
          width: 1.11em;
        }
        &:first-child {
          border-right: 1px solid nth($gray, 2);
        }
        &:last-child {
          border-left: 1px solid nth($gray, 2);
        }
      }
      .volume {
        padding: 0 1.11em;
        line-height: 1.25;
      }
    }
  }
}
