@charset "utf-8";

.register {
  text-align: center;
  h1 {
    margin:70px 0 70px;
    img {
      width: 238px;
    }
  }
  section {
    position: relative;
    .changeReg {
      position: relative;
      padding: 20px 0 30px;
      width: 275px;
      border: 1px solid nth($gray, 2);
      // border-left: 1px solid nth($gray, 2);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      font-family: $f5;
      font-size: 18px;
      &.buyer {
        background-color: #fff;
        border-bottom: none;
        z-index: 10;
        border-right: #fff;
      }
      &.seller {
        background-color: nth($gray, 3);
      }
    }
    .registerForm {
      position: relative;
      bottom: 10px;
      margin: 0 auto;
      padding: 0 35px;
      width: 477.51px;
      border: 1px solid nth($gray, 2);
      // border-top: none;
      
      background-color: #fff;
      border-radius: 10px;
      padding-bottom: 24px;
      label {
        display: block;
        text-align: left;
        margin-bottom: 10px;
        color: nth($gray, 1);
        &.id {
          margin-top: 50px;
        }
      }
      input:focus {
        outline: none;
      }
      input {
        padding: 0;
        padding-left: 16px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid nth($gray, 2);
        height: 51.5px;
        margin-bottom: 12px;
        &:focus, &:active {
          border-color: nth($green, 1);
        }
        &#id {
          width: 327.5px;
          margin-right: 12px;
        }
        &#pw, &#checkPw, &#name {
          width: 461.5px;
        }
        &#checkPw {
          margin-bottom: 50px;
        }
        &#name, &#lastNumber {
          margin-bottom: 16px;
        } 
      }
      .inpPw {
        position: relative;
      }
      img {
        position: absolute;
        right: 16px;
        top: 13px;
      }
      button {
        color: #fff;
        background-color: nth($green, 1);
        width: 122px;
        height: 54px;
        font-size: 16px;
        border-radius: 5px;
      }
      .phoneNumber {
        display: flex;
        input {
          width: 133.5px;
        }
        #middleNumber {
          margin: 0 12px;
        }
        .firstNumBtn {
          position: relative;
          width: 100%;
          color: #000;
          background-color: #fff;
          border: 1px solid nth($gray, 2);
          font-size: 16px;
          padding-right: 25px;
          &::after {
            content: "";
            position: absolute;
            right: 18.58px;
            top: 24.25px;
            width: 8px;
            height: 8px;
            border-radius: 1px;
            transition: all .5s;
            border: solid nth($gray, 1);
            border-width: 0 2.5px 2.5px 0;
            transform: rotate(225deg);
          }
        }
        // .on 만들어서 적용
        #firstNumber {
          display: none;
          position: absolute;
          margin-top: 60px;
          width: 152px;
          height: 150px;
          overflow-y: scroll;
          border-radius: 5px;
          border: 1px solid nth($gray, 2);
          button {
            width: 100%;
            color: #000;
            background-color: #fff;
            border-radius: 0;
            height: 40px;
          }
        }
      }
      
      .email {
        input {
          width: 201.5px;
        }
        span {
          margin: 0 11px;
        }
      }

      .buyerNum {
        margin-top: 38px;
        #bNum {
          width: 321.52px;
          margin-right: 12px;
        }
      }
      #storeName {
        width: 461.5px;
      }
    }
    .box-check {
      display: flex;
      justify-content: center;
      .check-agree {
        display: flex;
        width: 480px;
        margin-top: 34px;
        text-align: left;
  
        input[type="checkbox"] {
          cursor: pointer;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          outline: 0;
          height: 16px;
          width: 16px;
          border: 1px solid nth($gray, 2);
        }
        input[type="checkbox"]:checked {
          border: 1px solid nth($green, 1);
        }
        input[type="checkbox"]:hover {
          border: 1px solid nth($green, 1);
        }
        input[type="checkbox"]:after {
          content: '';
          position: relative;
          left: 40%;
          top: 20%;
          width: 15%;
          height: 40%;
          border: solid nth($green, 1);
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
          display: none;
        }
        input[type="checkbox"]:checked:after {
          display: block;
        }
  
        #agree {
          display: block;
          width: 16px;
          height: 16px;
          margin-right: 10px;
          margin-top: 1;
        }
        label {
          color: nth($gray, 1);
          strong {
            font-family: $f5;
            text-decoration: underline;
            text-underline-position: under;
          }
        }
      }
    }
    
    .submitBtn {
      background-color: nth($gray, 2);
      color: #fff;
      width: 480px;
      height: 60px;
      margin: 34px 0 110px;
      border-radius: 5px;
      font-size: 18px;
      font-family: $f5;
    }
  }
}